<!DOCTYPE html>
<html lang="zh">
<head>
	<title th:text="#{admin.article_edit}"></title>
	<th:block th:replace="~{fragments :: meta}"></th:block>
	<th:block th:replace="~{fragments :: resources}"></th:block>

	<style>
		.cm-editor.cm-focused {
			outline: none;
		}
	</style>

</head>
<body>

<div th:replace="~{fragments :: header}"></div>

<div class="container p-3">
	<h1 th:text="#{admin.article_edit}"></h1>
	<h4>
		<span th:text="#{admin.article_view}"></span>
		<a th:href="@{/article/{id}(id=${article.id})}"
			th:utext="${article.title}"
			target="_blank"
		></a>
	</h4>
	<form th:action="@{/admin/article/edit/check/{id}(id=${article.id})}" method="post" id="form">
		<h1 class="h4 mb-3 fw-normal" th:text="#{admin.article_name}"></h1>
		<input type="text" class="form-control" name="name"
			onkeydown="if(event.keyCode===13){return false;}"
			th:value="${article.name}"
		><br>
		<h1 class="h4 mb-3 fw-normal" th:text="#{admin.article_title}"></h1>
		<div id="title"></div><br>
		<h1 class="h4 mb-3 fw-normal" th:text="#{admin.article_content}"></h1>
		<div id="content"></div><br>
		<input type="hidden" name="title" id="title_input" th:value="${article.title}">
		<input type="hidden" name="content" id="content_input" th:value="${article.content}">
		<button class="btn btn-primary py-2" type="submit" th:text="#{admin.submit}"></button>
	</form>
</div>

<div th:replace="~{fragments :: footer}"></div>

<script src="/lib/codemirror6/codemirror.umd.js"></script>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const editor_title = new CodeMirror.EditorView({
			doc: document.getElementById('title_input').value,
			extensions: [
				CodeMirror.basicSetup,
				CodeMirror.markdown(),
				CodeMirror.foldGutter(),
				CodeMirror.syntaxHighlighting(CodeMirror.defaultHighlightStyle),
				CodeMirror.ayuLight,
			],
			parent: document.getElementById('title'),
		});
		const editor_content = new CodeMirror.EditorView({
			doc: document.getElementById('content_input').value,
			extensions: [
				CodeMirror.basicSetup,
				CodeMirror.markdown({
					codeLanguages: [
						CodeMirror.LanguageDescription.of({
							name: 'cpp',
							alias: ['cpp', 'c++', 'cc', 'cxx'],
							support: CodeMirror.cpp()
						})
					]
				}),
				CodeMirror.foldGutter(),
				CodeMirror.syntaxHighlighting(CodeMirror.defaultHighlightStyle),
				CodeMirror.ayuLight,
			],
			parent: document.getElementById('content'),
		});
		const form = document.getElementById('form');
		const title_input = document.getElementById('title_input');
		const content_input = document.getElementById('content_input');

		form.addEventListener('submit', function (e) {
			title_input.value = editor_title.state.doc.toString();
			content_input.value = editor_content.state.doc.toString();
		});
	});
</script>

</body>
</html>