<!DOCTYPE html>
<html lang="zh">
<head>
	<title th:text="#{admin.article_edit}"></title>
	<th:block th:replace="~{fragments :: meta}"></th:block>
	<th:block th:replace="~{fragments :: codemirror}"></th:block>
	<th:block th:replace="~{fragments :: resources}"></th:block>
</head>
<body>

<div th:replace="~{fragments :: header}"></div>

<div class="container p-3">
	<h1 th:text="#{admin.article_edit}"></h1>
	<h4>
		<span th:text="#{admin.article_view}"></span>
		<a th:href="@{/article/{id}(id=${article.id})}"
			th:utext="${article.title}"
		></a>
	</h4>
	<form th:action="@{/admin/article/edit/check/{id}(id=${article.id})}" method="post" id="form">
		<h1 class="h4 mb-3 fw-normal" th:text="#{admin.article_name}"></h1>
		<input type="text" class="form-control" name="name"
			onkeydown="if(event.keyCode===13){return false;}"
			th:value="${article.name}"
		><br>

		<h1 class="h4 mb-3 fw-normal" th:text="#{admin.article_title}"></h1>
		<textarea id="title" name="title" th:text="${article.title}"></textarea><br>

		<h1 class="h4 mb-3 fw-normal" th:text="#{admin.article_content}"></h1>
		<textarea id="content" name="content" th:text="${article.content}"></textarea><br>

		<h1 class="h4 mb-3 fw-normal" th:text="#{admin.article_status}"></h1>
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="isHidden" name="hidden"
				   th:checked="${article.hidden}">
			<label class="form-check-label" for="isHidden" th:text="#{admin.article_hidden}"></label>
		</div><br>

		<button class="btn btn-primary py-2" type="submit" th:text="#{admin.submit}"></button>
	</form>
</div>

<div th:replace="~{fragments :: footer}"></div>

<script>

	var titleMarkdownEditor = CodeMirror.fromTextArea(document.getElementById("title"), {
		mode: "ojMarkdown",
		lineNumbers: true,
		matchBrackets: true,
		indentUnit: 4,
		tabSize: 4,
		indentWithTabs: true,
		lineWrapping: false,
	});

	var contentMarkdownEditor = CodeMirror.fromTextArea(document.getElementById("content"), {
		mode: "ojMarkdown",
		lineNumbers: true,
		matchBrackets: true,
		indentUnit: 4,
		tabSize: 4,
		indentWithTabs: true,
		lineWrapping: false,
	});

</script>

</body>
</html>