<!DOCTYPE html>
<html lang="zh">
<head>
	<title th:text="#{admin.login}"></title>
	<th:block th:replace="~{fragments :: meta}"></th:block>
	<th:block th:replace="~{fragments :: resources}"></th:block>
</head>
<body>

<div th:replace="~{fragments :: header}"></div>

<div class="container p-3">
	<h1 th:text="#{admin.admin_list}"></h1>
	<a th:href="@{/admin/article/new}"><h2 th:text="#{admin.article_new}"></h2></a>
	<a th:href="@{/admin/article_list}"><h2 th:text="#{admin.article_edit_list}"></h2></a>
	<a th:href="@{/admin/index_content}"><h2 th:text="#{admin.index_content}"></h2></a>
	<a th:href="@{/admin/logout}"><h2 th:text="#{admin.logout}"></h2></a>
</div>

<div th:replace="~{fragments :: footer}"></div>

</body>
</html>