<!DOCTYPE html>
<html lang="zh">
<head>
	<title th:text="${article.name}"></title>
	<th:block th:replace="~{fragments :: meta}"></th:block>
	<th:block th:replace="~{fragments :: resources}"></th:block>
</head>
<body>

<div th:replace="~{fragments :: header}"></div>

<div class="container p-3">
	<div id="content"></div>
	<input type="hidden" id="content_code" th:value="${article.content}">

	<div>
		<span class="keroshi-gray">
			<span th:text="#{article.create_time}"></span>
			<span th:text="${article.createTime}"></span>
		</span><br>
		<span class="keroshi-gray">
			<span th:text="#{article.update_time}"></span>
			<span th:text="${article.updateTime}"></span>
		</span><br>
		<a th:href="@{/admin/article/edit/{id}(id=${article.id})}"
			th:text="#{admin.article_edit}"
		></a>
	</div>
</div>

<div th:replace="~{fragments :: footer}"></div>

<script>
	let content_code = document.getElementById('content_code').value;
	document.getElementById('content').innerHTML = marked.parse(renderMath(content_code));
	hljs.highlightAll();

	document.querySelectorAll('table').forEach(element => {
		element.classList.add('table');
		element.classList.add('table-borderless');
	});
</script>

</body>
</html>